<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/23c8dab9-c7d8-4da2-8770-599b7e814fdf/resourceGroups/DefaultResourceGroup-NCUS/providers/Microsoft.Web/sites/chatbotcontrolpanel</ResourceId>
    <ResourceGroup>DefaultResourceGroup-NCUS</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <SiteUrlToLaunchAfterPublish>https://chatbotcontrolpanel.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <MSDeployServiceURL>chatbotcontrolpanel.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>chatbotcontrolpanel</DeployIisAppPath>
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$chatbotcontrolpanel</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>